<div class="header">
    <div class="header-icons">
        <i class="material-icons">sort</i>
        <i class="fa fa-facebook"></i>
        <i class="fa fa-dribbble"></i>
        <i class="fa fa-instagram"></i>
        <i class="fa fa-github"></i>
    </div>
    <div class="header-imgbox">
        <img class="header-img" src="assets/images/logo.png">
    </div>
    <div class="header-content">
        <p class="header-p">English <span class="span">/ Italy</span></p>
        <i class="fa fa-search"></i>
        <i class="fa fa-shopping-cart"></i>
    </div>
</div>
<div class="ul-list">
    <ul>
        <li>Home ></li>
        <li>Shop Page ></li>
        <li>Fashions ></li>
        <li>High Collar Jacket</li>
    </ul>
</div>
<div class="aside">
    <div class="aside-sec1">
        <img src="assets/images/small-1.jpg">
        <img src="assets/images/small-2.jpg">
        <img src="assets/images/small-3.jpg">
        <img src="assets/images/small-4.jpg">
    </div>
    <div class="aside-sec2">
        <img src="assets/images/large-1.jpg">
    </div>
    <div class="aside-sec3">
        <h2>High Collar Jacket</h2>
        <div class="aside-div">
            <i class="yellow fa fa-star i-width"></i>
            <i class="yellow fa fa-star i-width"></i>
            <i class="yellow fa fa-star i-width"></i>
            <i class="yellow fa fa-star i-width"></i>
            <i class="yellow fa fa-star"></i>
            <p>(1 customer review)</p>
            <i class="fa fa-check-circle-o"></i>
            <p>in stock</p>
        </div>
        <h3>$29.00</h3>
        <p class="paragraph">Donec accumsan auctor iaculis. Sed suscipit arcu ligula, at egestas magna molestie a. Proin ac ex maximus, ultrices justo eget, sodales orci. Aliquam egestas libero ac turpis pharetra</p>
        <ul>
            <li>Composition: 50% cotton,45% polyester, 5% polyamide.</li>
            <li>Filling: 100% polyester.</li>
            <li>Hood fur: 64% acrylic,23% modacrylic,13% polyester</li>
        </ul>
        <div class="aside-div-1">
            <h4>- 2 +</h4>
            <button>Add to Cart</button>
            <i class="fa fa-heart heart"></i>
        </div>
        <p class="para-mb">SKU: REF. LA-103</p>
        <p class="para-mb">Categories: Fashions, Main 03</p>
        <p class="para-mb m-b">Tags: Coat, Dresses, Fashion</p>
        <div class="aside-div-2">
            <i class="fa fa-facebook"></i>
            <i class="fa fa-twitter"></i>
            <i class="fa fa-pinterest-p"></i>
            <i class="fa fa-google-plus"></i>
        </div>
    </div>
</div>
<!-- <div class="nav">
    <div>
        <p>Description</p>
    </div>
    <div>
        <p>Reviews (1)</p>
    </div>
    <div>
        <p>About Brand</p>
    </div>
    <div>
        <p>Shipping & Delivery</p>
    </div>
</div> -->
<div class="nav">
    <div class="sec-1">
        <img class="section-img" src="assets/images/pro-details-banner.jpg">
    </div>
    <div class="sec-2">
        <p>Donec accumsan auctor iaculis. Sed suscipit arcu ligula, at egestas magna molestie a. Proin ac ex maximus, ultrices justo eget, sodales orci. Aliquam egestas libero ac turpis pharetra, in vehicula lacus scelerisque. Vestibulum ut sem laoreet, feugiat tellus at, hendrerit arcu..</p>
        <ul>
            <li>Maecenas eu ante a elit tempus fermentum. Aliquam commodo tincidunt semper</li>
            <li>Aliquam est et tempus. Eaecenas libero ante, tincidunt vel</li>
        </ul>
        <img class="section-img" src="assets/images/pro-dec-icon.jpg">
    </div>
</div>
<div class="container">
    <h2>Related Products</h2>
    <div class="image-box height-img">
        <div class="image-box-1">
            <img class="image-box-img" src="assets/images/hm-1-pro-2.jpg">
            <img class="image-box-img-1" src="assets/images/hm-1-pro-2-2.jpg">
            <div class=" hover-div">
                <div class="icon-aligner">
                    <i class="fa fa-search-plus i"></i>
                </div>
                <div class="icon-aligner">
                    <i class="fa fa-heart i"></i>
                </div>
                <div class="icon-aligner">
                    <i class="fa fa-heart i"></i>
                </div>
                
            </div>
            <div class="div-aligner">
                <h4>ADD TO CART</h4>
            </div>
            <div class="bg-w">
                <h3>Bloggers Be Gettin Paid</h3>
            </div>
        </div>
        <div class="image-box-1">
            <img class="image-box-img" src="assets/images/hm-1-pro-10.jpg">
            <img class="image-box-img-1" src="assets/images/hm-1-pro-10-2.jpg">
            <div class=" hover-div">
                <div class="icon-aligner">
                    <i class="fa fa-search-plus i"></i>
                </div>
                <div class="icon-aligner">
                    <i class="fa fa-heart i"></i>
                </div>
                <div class="icon-aligner">
                    <i class="fa fa-heart i"></i>
                </div>
                
            </div>
            <div class="div-aligner">
                <h4>ADD TO CART</h4>
            </div>
            <div class="bg-w">
                <h3>Hiking Boots – Women’s Long Sleeve</h3>
            </div>
        </div>
        <div class="image-box-1">
            <img class="image-box-img" src="assets/images/hm-1-pro-9.jpg">
            <img class="image-box-img-1" src="assets/images/hm-1-pro-9-2.jpg">
            <div class=" hover-div">
                <div class="icon-aligner">
                    <i class="fa fa-search-plus i"></i>
                </div>
                <div class="icon-aligner">
                    <i class="fa fa-heart i"></i>
                </div>
                <div class="icon-aligner">
                    <i class="fa fa-heart i"></i>
                </div>
                
            </div>
            <div class="div-aligner">
                <h4>ADD TO CART</h4>
            </div>
            <div class="bg-w">
                <h3>New Adventures</h3>
            </div>
        </div>
        <div class="image-box-1">
            <img class="image-box-img" src="assets/images/hm-1-pro-11.jpg">
            <img class="image-box-img-1" src="assets/images/hm-1-pro-11-2.jpg">
            <div class=" hover-div">
                <div class="icon-aligner">
                    <i class="fa fa-search-plus i"></i>
                </div>
                <div class="icon-aligner">
                    <i class="fa fa-heart i"></i>
                </div>
                <div class="icon-aligner">
                    <i class="fa fa-heart i"></i>
                </div>
                
            </div>
            <div class="div-aligner">
                <h4>ADD TO CART</h4>
            </div>
            <div class="bg-w">
                <h3>Hard Train</h3>
            </div>
        </div>
    </div>
</div>





<footer>
    <div class="footer-1">
        <ul class="footer-ul">
            <li><img class="footer-img" src="assets/images/logo-white.png"></li>
            <li>info@example.com</li>
            <li>+54.854.854.6666</li>
            <li>035 Virginia Plaza Suite 331</li>
        </ul>
    </div>
    <div class="footer-1">
        <ul class="footer-ul">
            <li><h3>COMPANY</h3></li>
            <li>Help</li>
            <li>Returns</li>
            <li>Gift Voucher</li>
            <li>Affiliate</li>
            <li>Work for Payna</li>
        </ul>
    </div>
    <div class="footer-1">
        <ul class="footer-ul">
            <li><h3>USERFUL</h3></li>
            <li>About Us</li>
            <li>Services</li>
            <li>Press</li>
            <li>Terms & Conditions</li>
        </ul>
    </div>
    <div class="footer-1">
        <ul class="footer-ul">
            <li><h3>QUICKLINKS</h3></li>
            <li>The Collections</li>
            <li>Size Guide</li>
            <li>Compare</li>
            <li>My Account</li>
            <li>My Account</li>
        </ul>
    </div>
    <div class="footer-2">
        <ul class="footer-ul">
            <li><h3>JOIN OUR NEWSLETTER</h3></li>
            <li><input type="text" placeholder="Enter Your Email Address..."></li>
            <li><button>Subscribe</button></li>
        </ul>
    </div>
</footer>